.welcome
    .title-red
        color red
    .title-blue
        color blue
    .tz-content
        padding 20px
        .tz-btn
            display inline-block
            padding: 20px 40px
            background #ffffff
            color #3982f6
            font-size 16px